a {
   text-decoration: none;
   list-style: none;
   color: #000;
}

.POPOSSpace {
  width: 100%;
  text-align: center;
}

.POPOSSpace img {
  width: 100%;
  height: auto;
}

.hours {
   font-style: italic;
}